
*.mbc
*.mcgen
*.mir
bin/myvario-fit_contributions.json
bin/myvario-settings.json
bin/myvario.prg
bin/myvario.prg.debug.xml
bin/optimized-myvario-fit_contributions.json
bin/optimized-myvario-settings.json
bin/optimized-myvario.prg
bin/optimized-myvario.prg.debug.xml
bin/myvario-fit_contributions.json
bin/myvario.prg
bin/myvario.prg.debug.xml
