<settings>
  <!-- User preferences -->
  <setting propertyKey="@Properties.userLivetrack24UserName" title="@Strings.titleLivetrack24UserName">
    <settingConfig type="alphaNumeric" errorMessage="@Strings.titleInputError" />
  </setting>
  <setting propertyKey="@Properties.userLivetrack24Password" title="@Strings.titleLivetrack24Password">
    <settingConfig type="password" errorMessage="@Strings.titleInputError" />
  </setting>
  <setting propertyKey="@Properties.userLivetrack24EquipmentName" title="@Strings.titleLivetrack24EquipmentName">
    <settingConfig type="alphaNumeric" errorMessage="@Strings.titleInputError" />
  </setting>
  <setting propertyKey="@Properties.userSportsTrackLiveEmail" title="@Strings.titleSportsTrackLiveEmail">
    <settingConfig type="alphaNumeric" errorMessage="@Strings.titleInputError" />
  </setting>
  <setting propertyKey="@Properties.userSportsTrackLivePassword" title="@Strings.titleSportsTrackLivePassword">
    <settingConfig type="password" errorMessage="@Strings.titleInputError" />
  </setting>
  <setting propertyKey="@Properties.userFlySafeUserId" title="@Strings.titleFlySafeUserId">
    <settingConfig type="alphaNumeric" errorMessage="@Strings.titleInputError" />
  </setting>
  <setting propertyKey="@Properties.userFlySafeToken" title="@Strings.titleFlySafeToken">
    <settingConfig type="password" errorMessage="@Strings.titleInputError" />
  </setting>
  <!-- ... storage -->
</settings>
